*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}


header{
    background-color:rgb(29, 22, 45);
    display: flex;
    justify-content: space-around;
   
    
}

.nav_header a{
    text-decoration: none;
    color: #504C5B;
}
a:hover{
    color: white;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    align-items: center;
}



#boton_descargar{
    background-image: linear-gradient(to right,#7A40CC, #0E73C8);
    border-radius: 5px;
    width: 90px;
    height: 42px;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    font-family: verdana;
    
}

.div1-section{
    display: flex;
    flex-direction: column;
    margin-left: 335px;
}

.section1-principal{
    display: flex;
    width: 100%;
}   

.section1{
    color: white;
    background-color: #2E2550;
    width: 50%;
    height: 450px;
    
}

.titulo-section{
    width: 70px;
    margin-top: 100px;
    font-size: 50px;
}

.recuadro-btns{
    text-align: center;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    
}

.recuadro-btns button{
    border-radius: 5px;
    width: 130px;
    height: 35px;
    margin-top: 10px;
}

.btn1:hover{
    background-color: #2E2550;
}
.btn2:hover{
    background-color:rgb(243, 84, 110);
}
.btn1{
    background-color: white;
    color:  #F53195;
}

.btn2{
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 3px;
}

.section2{
    background-image: url(../assets/images/hojasFondo.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    
}

.section1 *{
    margin-bottom: 27px;
}


.imagen{
    width: 100%;
    height: 50%;
}
.imagen-section{
    position: relative;
    left: 75px;
    top: 60px;
    height: 300px;
}

.section3{
    width: 100%;
    height: 550px;
    background-color: #F1F2F7;
    
}

.imagen-laptop{
    width: 420px;
    height: 260px;
}

.title-section3{
    color: #F41486;
    text-align: center;
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: 100px;
    
}
.separar-elementos{
    display: flex;
    justify-content: center;
    gap: 100px;
    

}
.right-elements{
    display: flex;
    flex-direction: column;
   
    
}

.right-elements h2{
    margin-bottom: 35px;
    color: #e74398;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-elements p{
    width: 300px;
    margin-bottom: 25px;
}

.title{
    color: #ff2596;
    margin-bottom: 10px;
}
#simbolo{
    color: #F53195;
    font-weight: bold;
}
.chulito{
    list-style: none;
}

.section4{
    
    background-color: #1E172F;
    height: 1100px;
}

.titulo-principal{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    margin-bottom: 50px;
}

.parrafo1{
    display: flex;
    color: white;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 60px;
    text-align: center;
}

.contenedores{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedores *{
    margin-top: 15px;
}
.div1{
    text-align: center;
    background-color: white;
    width: 400px;
    border-radius: 5px;
}
.div1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 80px;
    
}



.pesos{
    font-size: 35px;
    margin-bottom: 10px;
    
}
.precio{
    font-size: 45px;
}
.texto-tiempo{
    margin-bottom: 22px;
    margin-left: 8px;
    font-size: 17px;
}
.texto-tiempo2{
    margin-bottom: 22px;
    margin-left: 8px;
    font-size: 17px;
    width: 75px;
}


.acomodar-lista{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}
.texto{
    list-style: none;
    margin-right: 100px;
    font-size: 17px;
    
}
.titulo-div{
    color:#F41486 ;
}

#simbolo1{
    display: flex;
    
    color: #ff0586;
    font-weight: bold;

}
#simbolo2{
    display: flex;
    font-weight: bold;
}

.parrafo2{
    margin: 45px 55px 0px 55px; 
}

.div1-2{
    background-color: #F4F4F4;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
}
.div1-2 button{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#EB66AB, #F41587);
    font-size: 18px;
    color: white;
    border-color:#EB66AB ;
}

.div2{
    background-color: white;
    width: 400px;
    border-radius: 5px;
    text-align: center;

}

.titulo-div2{
    font-weight: bold;
}

.boton-div2{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: #2E2550;
    font-size: 18px;
    color: white;
    border-color:#2E2550 ;
}

.div2-2{
    background-color: #F4F4F4;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
}



.div3{
    background-color: white;
    width: 400px;
    border-radius: 5px;
    text-align: center;
}





footer{
    display: flex;
    align-items: center;
    height: 100px;
}

.section-footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.div-logos{
  display: flex;
  justify-content: space-between; 
  gap: 30px;
}



@media (max-width: 1280px){
    .div1-section{
        margin-left: 150px;
    }
    .parrafo1{
        margin-left: 20%;
        margin-right: 20%;
    }
    .contenedores{
        margin-left: 0px;
        margin-right: 15px;
        gap: 5px;
    }
    
    .div1,.div3{
        width: 280px;
        
    }
    .div2{
        width: 280px;
    }
    .texto{
        margin-right: 50px;
    }
    .section4{
        height: 1150px;
    }
}


@media (max-width: 921px){

    .contenedores{
        margin-right: 0px;
    }
    .div1-section{
        margin-left: 80px;
    }
    .div1,.div2,.div3{
        width: 250px;
    }

    .texto{
        margin-right: 60px;
    }
    .section4{
        height: 1200px;
    }
    .right-elements p{
        width: 250px;
        margin-bottom: 25px;
    }

    
}

@media (max-width: 769px){
    header{
        justify-content: center;
        gap: 30px;
    }
    .nav_header a{
        font-size: 10px;
        justify-content: center;
        width: 20px;
    }


    .section1-principal{
        height: 380px;
    }
    .titulo-section{
        font-size: 30px;
    }
    .div1-section{
        margin-top: -60px;
        margin-left: 40px;
    }
    .div1-section p{
        font-size: 12px;
    }
    .recuadro-btns{
        display: flex;
        flex-direction: column;
        height: 120px;
        width: 180px;
    }
    .btn1,.btn2{
        margin-left: 25px;
    }
    .btn1{
        margin-bottom: 10px;
    }
    .section2 img{
        margin: 60px 0px 50px -20px ;
        width: 100px;
        height: 200px;
    }

    .separar-elementos{
       gap: 5px;
    }
    .title-section3{
        font-size: 35px;
    }
    .imagen-laptop{
        width: 50%;
    }
    .right-elements h2{
        width: 20px;
    }
    
    .section4{
        height: 2600px;
    }
    .contenedores{
        flex-direction: column;
        gap: 30px;
    }
    .div1,.div2,.div3{
        width: 80%;
        
        margin: 0px 50px 0px 50px;
    }
    .acomodar-lista{
        justify-content: center;
        gap: 40px;
    }
    footer p{
        margin-left: 10px;
    }

}




@media (max-width: 481px){
    header img{
        width: 70px;
        height: 30px;
    }
    header{
        gap: 50px;
    }
    .nav_header a{
        font-size: 8px;
        
        width: 40px;
    }
    #boton_descargar{
        font-size: 6px;
        height: 20px;
        width: 20%;
        margin-left: -25px;
    }
    .div1-section h2{
        font-size: 15px;
    }
    .div1-section p{
        font-size: 10px;
    }
    .div1-section fieldset{
        margin-left: -20px;
        width: 50px;
    }
    .section1{
        height: 380px;
    }
    .btn1,.btn2{
        margin-left: 5px;
        margin-right: 5px;
    }
    .section2 img{
        margin: 60px 0px 0px -50px ;
        width: 80px;
        height: 170px;
    }
    .right-elements h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .right-elements p{
        font-size: 15px;
        width: 170px;
    }
    .right-elements h3,ul{
        font-size: 16px;
        width: 170px;
        
    }
    .separar-elementos img{
        margin-top: 40px;
    }
    .section4{
        height: 3000px;
    }
    .div-logos{
        gap: 5px;
    }
    .section3 h2{
        margin-bottom: 20px;
    }
    .section3{
        height: 560px;
    }
    
    

}

